<!-- wp:template-part {"slug":"header"} /-->
<div class="page">
    <div class="pageWrapper gridWrap" style="padding: 32px 0;">
        <div class="checkoutHeading" style="margin-bottom: 24px;">
            <div class="checkoutHeadingTitle"
                 style="color: #1F1F1F;font-family: \'Sofia Sans\',sans-serif;font-weight: 500;font-size: 32px;line-height: 125%;letter-spacing: 0%;">
                Получатель заказа
            </div>
        </div>

        <!-- wp:shortcode -->
        [woocommerce_checkout]
        <!-- /wp:shortcode -->
    </div>
</div>
<!-- wp:template-part {"slug":"footer"} /-->