<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:pattern {"slug":"ktsportwear/banner-home"} /-->
<!-- wp:pattern {"slug":"ktsportwear/catalog-gen-home"} /-->
<!-- wp:pattern {"slug":"ktsportwear/new-products-slider"} /-->
<!-- wp:pattern {"slug":"ktsportwear/popular-cat-tab"} /-->
<!-- wp:pattern {"slug":"ktsportwear/collection-view-home"} /-->
<!-- wp:pattern {"slug":"ktsportwear/acсsr-view-home"} /-->
<!-- wp:pattern {"slug":"ktsportwear/store-reviews-basic"} /-->

<!-- wp:template-part {"slug":"footer"} /-->
