<!-- wp:template-part {"slug":"header"} /-->
<div class="pageAccount">
    <div class="pageWhlsMobHeading">
        <div class="pageWhlsMobHeadingWrapper">
            <div class="pageWhlsMobHeadingRow">
                <a href="/account/">
                    <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M9.47759 10.4995L13.8086 6.16838L12.5712 4.93095L7.00265 10.4995L12.5712 16.0679L13.8086 14.8304L9.47759 10.4995Z"
                              fill="#F9F9F9"/>
                    </svg>
                </a>
            </div>
            <div class="pageWhlsMobHeadingRow" style="flex: 3">
                <div class="pageWhlsMobHeadingTitle">
                    Бонусная программа
                </div>
            </div>
            <div class="pageWhlsMobHeadingRow">
            </div>
        </div>
    </div>
    <div class="pageAccountWrapper gridWrap">
        <div class="pageAccountBody">

            <div class="pageAccountBodyWrapper">
                <div class="pageAccountBodyNav">
                    [account_side_nav]
                </div>
                <div class="pageAccountBodyContent">
                    <div class="pageAccountBodyContent">

                        <div class="pageAccountBodyBlock">

                            <div class="accountBlockProgress" style="margin-bottom: 24px">
                                [account_bonus_prg]
                            </div>

                            <div class="accountBlockProgram">
                                <div class="accountBlockProgramWrapper"
                                     style="">
                                    <div class="accountBlockProgramItem" style="">
                                        <div class="accountBlockProgramItemWrapper">
                                            <div class="blockProgramItemHeading">
                                                <div class="blockProgramItemHeadingTitle" style="">
                                                    30 000 ₽
                                                </div>
                                                <div class="blockProgramItemHeadingValue">
                                                    До скидки 7%
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accountBlockProgramItem" style="">
                                        <div class="accountBlockProgramItemWrapper">
                                            <div class="blockProgramItemHeading">
                                                <div class="blockProgramItemHeadingTitle" style="">
                                                    60 000 ₽
                                                </div>
                                                <div class="blockProgramItemHeadingValue">
                                                    До скидки 7%
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accountBlockProgramItem" style="">
                                        <div class="accountBlockProgramItemWrapper">
                                            <div class="blockProgramItemHeading">
                                                <div class="blockProgramItemHeadingTitle" style="">
                                                    90 000 ₽
                                                </div>
                                                <div class="blockProgramItemHeadingValue">
                                                    До скидки 7%
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!-- wp:template-part {"slug":"footer"} /-->