<!-- wp:template-part {"slug":"header"} /-->
<div class="pageAccount">
    <div class="pageAccountWrapper gridWrap">
        <div class="pageAccountBody">
            <div class="pageAccountBodyWrapper">
                <div class="pageAccountBodyNav mb">
                    [account_side_nav]
                </div>
                <div class="pageAccountBodyContent">

                </div>
                [account_mob_nav]
            </div>
        </div>
    </div>
</div>
</div>
<!-- wp:template-part {"slug":"footer"} /-->